* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 800px;
  height: 450px;
  margin: 50px auto;
  position: relative;
}
.box .inner {
  position: absolute;
  width: 30000px;
  height: 450px;
}
.box .inner img {
  float: left;
}
.box span {
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 43%;
}
.box span:nth-of-type(2) {
  right: 0;
}
.box em {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(124, 117, 117, 0.801);
  z-index: 100;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
.box .show {
  background-color: rgba(14, 13, 13, 0.726);
}
