*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 800px;
    height: 450px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    .inner{
        position: absolute;
        width: 30000px;
        height: 450px;
        img{
            float: left;
        }
    }
    span{
        font-size: 50px;
        font-weight: 900;
        position: absolute;
        color: #fff;
        cursor: pointer;
        top: 43%;
        &:nth-of-type(2){
            right: 0;
        }
    }
   
    em{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(124, 117, 117, 0.801);
        z-index: 100;
        position: absolute;
        bottom: 30px;
        // left: 200px;
        cursor: pointer;
    }
    .show{
        background-color: rgba(14, 13, 13, 0.726);
    }
}